POSTGRES_DB=auth_database
POSTGRES_USER=auth
POSTGRES_PASSWORD=swordfish

POSTGRES_DB_HOST=pg_auth
POSTGRES_DB_PORT=5432

FLASK_DEBUG=0
SECRET_KEY=secret

REDIS_HOST=redis://redis_auth
REDIS_PORT=6379

AUTH_SUPERUSER_EMAIL=user@example.com
AUTH_SUPERUSER_PASSWORD=stringst

JAEGER_HOST=jaeger
JAEGER_PORT=6831

ENABLE_TRACING=1