ES_HOST=http://elastic
ES_PORT=9200

REDIS_HOST=redis://redis
REDIS_PORT=6379

FASTAPI_HOST=http://fastapi_app
FASTAPI_PORT=8000

POSTGRES_DB=auth_database
POSTGRES_USER=auth
POSTGRES_PASSWORD=swordfish

POSTGRES_DB_HOST=postgres
POSTGRES_DB_PORT=5432

FLASK_DEBUG=0
SECRET_KEY=secret

AUTH_SUPERUSER_EMAIL=user@example.com
AUTH_SUPERUSER_PASSWORD=stringst

FLASK_HOST=http://auth
FLASK_PORT=9000